header {
    position: relative;
    z-index: 10;
}

a {
  color: white;
  transition: color 250ms ease-in-out;
  font-size: 2rem;
  font-weight: 700;
  font-family: $cursive-stack;
}

a:hover, a:focus {
  color: $highlight-color;

  .motherly {
      color: white;
  }
}
