@keyframes sway {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-2%);
    }
    66% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
    }
}
#hearts-container, hearts {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 0;
    overflow: hidden;

    .heart {
        position: absolute;
        // bottom: 0;
        will-change: transform;
        background: url('/assets/images/heart.svg');
        background-size: contain;
        // animation: sway 2s ease-in-out infinite;
    }
}
